<app-header title="Categorias"></app-header>

<ion-content class="app-background">
  <div class="main-sections-container">
    
    <section class="content-wrapper" *ngFor="let genre of genres">
      <div class="section-title">
        <h2>{{ genre.name }}</h2>
        <span class="see-all" [routerLink]="['/genre', genre.id]">Ver tudo</span>
      </div>

      <div class="horizontal-scroll">
        <div class="movie-card" 
             *ngFor="let movie of genre.movies" 
             (click)="onCardClick($event, movie.id)">
          <div class="poster-container">
            <img [src]="imageBaseUrl + movie.poster_path" [alt]="movie.title" draggable="false" />
            <div class="card-badge" *ngIf="movie.vote_average > 0">
              ★ {{ movie.vote_average.toFixed(1) }}
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>
</ion-content>