ion-toolbar {
    --background: black;
}
.titulo-branco {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.titulo-vermelho {
  color: red;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

