<ion-header>
  <ion-toolbar color="primary">
    <ion-title>🎬 4Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading-container" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando filmes...</p>
  </div>

  <ion-list *ngIf="!loading">
    <ion-item 
      *ngFor="let movie of movies" 
      button 
      [routerLink]="['/details', movie.id]" 
      detail>
      
      <ion-thumbnail slot="start">
        <img [src]="movieService.getPosterUrl(movie.poster_path)" />
      </ion-thumbnail>
      
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>Lançamento: {{ movie.release_date }}</p>
        <p>⭐ {{ movie.vote_average }} / 10</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>